@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    background: #11101b;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* sared */
.display-flex {
    display: flex;
}
.text-light {
    color: rgb(255, 255, 255);
}
.text-light-gray {
    color: rgba(255, 255, 255, 0.5);

}

/* header */

header {
    width: 100%;
    height: 80px;
    background: #11101b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.logo {
    font-size: 28px;
    font-weight: bold;
    color: #E6533C;
    font-style: italic;
}
.hamburger {
    display: none;
}
.nav-bar ul {
    display: flex;
}
.nav-bar ul li a {
    display: block;
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}
.nav-bar ul li a:hover {
    color: #11101b;
    background: #FFFFFF;
}
.nav-bar ul li a.active {
    color: #FFFFFF;
    background: #E6533C;
}

/* banner  */
.banner {
    background: #11101b;
    margin: 0 auto;
    gap: 10.40rem;
    justify-content: space-between;
    align-items: center;
}


.section-title {
    font-size: 4.8rem;
    font-weight: 900;
    margin: 28px 0px;   
}
.btn-primary {
    width: 224px;
    height: 54px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    margin: 0px 14px;
}
.btn-down {
    width: 224px;
    height: 54px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border-radius: 42px;
    background: none; 
    border: 1px solid rgb(255, 255, 255);
    padding: 16px 40px 16px 40px;
    margin: 0px 14px;

}

#experience-badge {
    width: 206px;
    height: 96px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);  
    margin-left: -100px;
    margin-top: -400px; 
}
#number {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
}
#video {
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;   
}

/* .right-content {
    margin-right: 214px;
}
.right-content img {
    border: 2px solid red;
    width: 349px;
height: 580px;
}
.btn-500 {
    width: 193px;
    height: 98px;
    font-size: 13px;
    font-weight: 400;  
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400; 
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);  
    text-align: center;
    margin-left: -200px;
    margin-right: 214px;
    margin-top: -200px;

}
.free-500 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;  
} */


@media screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}
@media screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}
@media screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #FFFFFF;
        margin: 6px 0;
    }
    .nav-bar {
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.2s;
        overflow: hidden;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar ul li a {
        margin-bottom: 12px;
    }
    .banner {
        flex-direction: column;
    }
}


