@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR:wght@100..400&display=swap');

body {
    font-family: "Playwrite HR", cursive;
    font-family: "Inter", sans-serif;
    background: rgb(0, 0, 0);
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* sared */
.display-flex {
    display: flex;
}
.text-light {
    color: rgb(255, 255, 255);
}
.text-light-gray {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);

}
.trainer-name {
    font-size: 20px;
    font-weight: 900;
    color: rgb(255, 255, 255);   
}

/* header */

header {
    width: 100%;
    height: 80px;
    background: #11101b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.logo {
    font-size: 28px;
    font-weight: bold;
    color: #E6533C;
    font-style: italic;
}
.hamburger {
    display: none;
}
.nav-bar ul {
    display: flex;
}
.nav-bar ul li a {
    display: block;
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}
.nav-bar ul li a:hover {
    color: #11101b;
    background: #FFFFFF;
}
.nav-bar ul li a.active {
    color: #FFFFFF;
    background: #E6533C;
}

/* banner  */
.banner {
    background: #1b1015;
    margin: 0 auto;
    gap: 10.40rem;
    justify-content: space-between;
    align-items: center;
}


.section-title {
    font-size: 4.8rem;
    font-weight: 900;
    margin: 28px 0px;
    margin-left: 190px;
}
.shape {
    font-family: "Playwrite HR", cursive;
}
.banner-text p {
    margin-left: 190px;
    margin-bottom: 28px;
}
.banner-text button {
    margin-left: 190px;
}
.btn-primary {
    width: 224px;
    height: 54px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
}
.btn-down {
    width: 224px;
    height: 54px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border-radius: 42px;
    background: none; 
    border: 1px solid rgb(255, 255, 255);
    /* padding: 16px 40px 16px 40px; */
}
.img-item {
    position: relative;
    width: 100%;
    max-width: 440px;
    margin-right: 100px;
}

#experience-badge {
    width: 206px;
    height: 96px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54); 
    position: absolute;
    top: 70%;
    left: -30%;
}
#experience {
    width: 206px;
    height: 96px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54); 
    position: absolute;
    top: 30%;
    left: 50%;       
}
#number {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
}
#video {
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;   
}
/* habit section */
.habits {
   
    margin-top: 200px;
}
.habit-container {
    /* width: 1044px;
    height: 400px;  */
    margin: 0 auto; 
    align-items: center; 
}
.habit-container h3 {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin: 14px 0px;  
}
.habit-container p {
    font-size: 14px;
    font-weight: 400;
    margin: 14px 0px;
    text-align: center;
    margin-bottom: 58px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 80px; 
    margin-bottom: 100px;
}
.img-content {
   text-align: center;
}
.img-content img {
    border-radius: 50%;
}

/* run an extra mile easily */

.run-an-extra {
    width: 1060px;
    height: 371px;
    margin: 0 auto; 
    border-radius: 18px;
    background: rgb(34, 34, 34);
}

.run-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.run-text {
    margin-left: 54px;
    margin-top: 41px;
}
.run-text h3 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
}
.run-text button {
    margin-top: 34px;
}
.run-img {
    width: 366px;
    height: 312px;
    margin-right: 32px;
}
.run-img img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    margin-top: 30px;
}

/* BMI section style */
.bmi {
    width: 671px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 88px;
    margin-bottom: 88px;
}

.bmi-calculator {
    width: 100%;
    height: 487px;
    background: rgb(34, 34, 34);    
}

.bmi-container {
    width: 1060px;
    height: 487px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;  
    align-items: center;
}
.bmi h3 {
    font-size: 3rem;
    font-weight: 900;    
}

.chart h3 {
    font-size: 1.75rem;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 52px;
}

table {
    width: 320px;
    height: 216px;
    color: #FFFFFF;
    border-collapse: collapse;
}
td, th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px;
}
th {
    text-align: start;
}

.your-bmi {
   font-size: 28px;
font-weight: 900;
margin-top: 49px; 
}
.your-bmi h3 {
    margin-bottom: 14px;
}
.your-bmi p {
    margin-bottom: 34px;
    font-size: 14px;
    font-weight: 400;
}
.wight-wight {
    margin-bottom: 12px;
}

.btn-bmi {
    width: 282.5px;
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1); 
    border: none; 
}
.select-box {
    width: 282.5px;
    height: 48px;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1); 
    margin-bottom: 12px; 
    border: none; 
}

.activity {
    width: 569px;
    height: 48px;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 34px;
    border: none;   
}
.btn-calculater {
    width: 224px;
    height: 54px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
}

/* Meet Our Team section style*/

 .team {
    margin-top: 88px;
 }
.team-container {
    width: 1060px;
    height: 782px;
    margin: 0 auto;
    padding: 15px;
   text-align: center;
        
}
.img-container {
    width: 1060px;
    height: 604px;
    background: rgba(255, 255, 255, 0.1); 
    align-items: center; 
    border-radius: 18px;    
}
.team-container .img-container {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(270px, 1fr));
}
.team-container h3 {
    font-size: 48px;
    margin-bottom: 14px;
}
.team-container p {
    letter-spacing: 0.3px;
    margin-bottom: 78px;
}
.team-container img {
    width: 326.67px;
    height: 272px; 
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);  
}

.first {
    position: relative;
}
.trainer-name {
    position: absolute;
    top: 80%;
    left: 19px;
}
.triner {
    position: absolute;
    top: 90%;
    left: 19px;    
}

/* membership style */

.membership {
    width: 1060px;
    height: 550px;
    margin: 0 auto;
    margin-top: 110px;
    
}
.title-membership {
    font-size: 5rem;
    color: #ff9300;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}
.membership-container {
    display: flex;
    justify-content: space-evenly;
}
.card {
    width: 333px;
    height: 360px;
    background: #FFFFFF;
    border-radius: 16px;
    padding-inline-start: 5px;
    margin: 20px;
}
.card hr {
    color: #E6533C;
}
.heading {
    font-size: 36px;
    text-transform: uppercase;
    color:#ff4148
    ;
    font-style: italic;
    margin-top: 50px;
    margin-bottom: 30px;
}
.price {
    color: #000000;
    font-size: 30px;
    font-weight: 600;
}
.day {
    color: #868688;
    font-size: 18px;
    margin-bottom: 30px;
}

li {
    color: #000000;
    font-size: 16px;
    
}


/* footer */
footer {
    width: 100%;
    height: 489px;
    margin-top: 88px; 
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.footer-container {
    width: 1059px;
    height: 249px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
    /* margin: 88px 0px; */
}

.footer-left-content h3 {
    font-size: 70px;
    font-weight: 800;
    color: rgb(230, 83, 60); 
    font-style: italic;
    margin-bottom: 20px;
}
.footer-left-content p {
    font-weight: 400;
    line-height: 24px;
}

.footer-mid-content h5 {
    font-size: 32px;
    font-weight: 700; 
    color: rgb(255, 255, 255);
    margin-bottom: 39px;  
}
.footer-text {
    font-size: 23px;
    font-weight: 400; 
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}

.footer-right-content h5 {
    font-size: 32px;
    font-weight: 700; 
    color: rgb(255, 255, 255);
    margin-bottom: 39px;     
}
hr {
    width: 1059.5px; 
    height: 0px;
    margin: 0 auto;
    margin-top: 79px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.copy-right {
    font-size: 20px;
    font-weight: 400;   
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-top: 36px;
}



@media screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}
@media screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}
@media screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #FFFFFF;
        margin: 6px 0;
    }
    .nav-bar {
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.2s;
        overflow: hidden;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar ul li a {
        margin-bottom: 12px;
    }
    .banner {
        flex-direction: column;
    }
    .banner-text h2 {
        margin-left: 20px;
    }
    .banner-text p {
        margin-left: 20px;
    }
   
    .btn-primary {
        width: 169px;
        height: 54px;
    }
    .btn-down {
        width: 169px;
        height: 54px;     
    }
    #experience-badge {
        margin-left: 180px;
        top: 40%;

    }
    #experience {
        top: 20px;
    }

    /* habit container */

    .habit {
        width: 338px;
        height: 1398px;
    }
    .habit-container {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        margin: 0;
    }
    .card-container {
        flex-direction: column;
    }

    /* run an extra */
    
    .run-an-extra {
        width: 353px;
        height: 571px;
        margin: 0 auto;
        text-align: left;
        margin: 15px;
    }
    .run-img {
        width: 287px;
        height: 170px;
        align-items: center;
        margin-left: 33px;
    }
    .run-container {
        flex-direction: column;
        margin: 0;
    }
/* bmi section */
.bmi-calculator {
    flex-direction: column;
    width: 353px;
    height: 872px;
    margin-left: 15px;
    /* margin: 0 auto; */
 }
.bmi {
    width: 353px;
    height: 124px;
    margin: 0px;
    margin-left: 15px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px; 
} 
 
.bmi-container {
    flex-direction: column;
    align-items: start;
    margin: 0;
    margin-left: 20px;
}
.chart {
   margin-bottom: 42px; 
}
.your-bmi {
    width: 353px;
    height: 395px; 
    align-items: start;
    margin: 0px;
}
.btn-bmi {
    width: 160px;
    height: 48px;
}
.select-box {
    width: 160px;
    height: 48px;
}
.wight-wight {
    width: 353px;
    height: 48px;  
}
.activity {
    width: 325px;
    height: 48px;
}

/* Meet Our Team section style */
.meet {
    width: 309px;
    height: 124px;
    margin-bottom: 97px;
    margin-left: 15px;

}
.img-container {
    width: 353px;
    height: 1800px;
    grid-template-columns: 1fr;
    margin: 0;
    /* margin-left: 10px; */
    gap: 20px;
    background: rgba(255, 255, 255, 0.1); 
}
.team-container img {
    border-radius: 18px;
   
}

/* membership */

.membership {
    width: 393px;
    height: 30px;
    margin-top: 1300px;
}
.membership-container {
    flex-direction: column;
    justify-content: space-between;
}
 .title-membership {
    width: 393px;
    width: 100px;
    font-size: 30px;
    margin-left: 15px;
 }

/* footer */

footer {
    width: 393px;
    height: 1050px;
    margin-top: 1300px; 
} 
.footer-container {
    flex-direction: column;
    margin-left: 20px;
    gap: 30px;
}
hr {
    width: 354px;
    height: 0;
    margin-top: 624px;
}
.copy-right {
    margin-bottom: 87px;
}
}


